/*
 * Specifics & Overrides
 */
body {
  width: 300px;
  min-height: 600px;
  margin: 0;
  user-select: none;
}

svg {
  fill: #666;
}

header {
  position: relative;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #7b4dff;
}

header #identity-short {
  font-weight: bold;
  color: white;
}

header .avatar {
  margin: 20px auto;
}

#no-identities-prompt {
  text-align: center;
  padding: 8px 12px;
}

#no-identities-prompt p {
  font-size: 12px;
  line-height: 18px;
  color: #999;
}

section#identities {
  border-top: 1px solid #ddd;
}

/*
 * General Classes
 */
.section-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-left: 12px;
  padding-bottom: 4px;
  font-size: 12px;
  color: #00000099;
}

.section-header .section-title {
  line-height: 32px;
}

#identity-list button, #add-identity-button {
  font-weight: normal;
  width: 100%;
  border-radius: 0;
  background: transparent;
  gap: 8px;
  justify-content: flex-start;
  padding: 8px 12px;

  &:hover {
    background-color: #00000011;
  }
}

.hidden {
  display: none;
}

#error-message {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #E77975;
  background-color: #FCF2F2;
  gap: 8px;
}

#error-message svg {
  fill: #E77975;
  height: 22px;
  width: 22px;
  flex-shrink: 0;
}

#close-error-button {
  background: transparent;
  border: none;
  padding: 0;
}

#close-error-button svg {
  height: 16px;
  width: 16px;
}

#error-message p {
  flex-grow: 1;
}

.identity-row svg {
  margin: auto 0;
  width: 20px;
}

#settings-button {
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.control:hover {
  background-color: #eee;
}

dialog {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  background: white;

  & button {
    background: transparent;
    padding: 0;
    border-radius: 0;
  }

  position: relative;

  & .container {
    padding: 20px;
    width: 100%;
  }
}

.close-button {
  background: transparent;
  padding: 3px;
  border-radius: 8px;
  position: absolute;
  right: 10px;
  top: 10px;

  &:hover {
    background-color: #00000008;
  }

  & svg {
    width: 20px;
    height: 20px;
    stroke: grey;

    &:hover {
      stroke: black;
      transition: stroke 0.2s ease-in-out;
    }
  }
}

#add-profile-dialog {
  text-align: center;

  & .avatar-container {
    display: flex;
    justify-content: center;
  }

  & h1 {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  & button.primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: none;

    border-radius: 36px;
    cursor: pointer;

    font-weight: bold;
    background-color: #7B4DFF;
    color: white;
  }
}

#color-selection {
  display: flex;
  gap: 10px;
  justify-content: center;

  & input[type=radio] {
    display: none;
  }

  & input[type=radio]:checked + label span {
    outline-offset: 2px;
    outline: 2px solid #284be4;
  }

  & label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  & label::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    cursor: pointer;
  }

  & label:has(input[type=radio]:checked) {
    outline-offset: 2px;
    outline: 2px solid #284be4;
    border-radius: 16px;
  }

  & label:has([value='red'])::after {
    background: red;
  }

  & label:has([value='blue'])::after {
    background: blue;
  }

  & label:has([value='green'])::after {
    background: green;
  }

  & label:has([value='purple'])::after {
    background: purple;
  }

  & label:has([value='orange'])::after {
    background: orange;
  }
}

input.error {
  border: 2px solid red;
}
